// colors
$color-grey-font: #727173;
$color-navy-blue: #0784c3;
$color-red: #df4748;
$color-dark-blue: #26263a;
$color-border-grey: #e9ecef;
$color-hover-grey: #e9ecef;
$color-dropdown: #fff;
$color-light-grey: #f8f9fa;
$color-green: #3cac9e;
$color-body: #fafbfc;
