.hero {
  height: 27.2rem;
  background-image: url(/src/assets/backgroun_pattern.svg);
  background-color: #131313;
  padding: 2rem;
  padding-top: 6rem;
  color: $color-dropdown;
  position: relative;

  &__search-container {
    @include flex-column;

    h1 {
      margin-bottom: 1rem;
    }

    .search-bar {
      background-color: $color-dropdown;
      border-radius: 8px;
      padding: 1rem;
      width: 60%;
      @include flex-align-center;

      input {
        margin-left: 1rem;
        height: 3.5rem;
        width: 100%;
        border: none;
        outline: none;
        padding: 5px;
        border-radius: 8px;

        &:focus {
          outline: 1px solid $color-border-grey;
        }
      }

      .search-btn {
        background-color: $color-navy-blue;
        padding: 8px;
        margin-left: 10px;
        border-radius: 8px;
        height: 3.5rem;
        cursor: pointer;

        &:hover {
          background-color: darken($color-navy-blue, 8%);
        }

        svg {
          font-size: 2rem;
        }
      }

      @media (max-width: 700px) {
        width: 100%;
      }
    }
  }

  &__stats-container {
    @include absCenter;
    width: 97vw;
    background-color: $color-dropdown;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%);
    display: flex;

    .stats-grid {
      display: grid;
      grid-template-columns: auto auto;
      color: #000;
      flex-grow: 1;

      .bnb-price {
        border-bottom: 1px solid $color-border-grey;
        border-right: 1px solid $color-border-grey;

        @media (max-width: 500px) {
          border: none;
          border-bottom: 1px solid $color-border-grey;
        }
      }

      .transactions {
        border-bottom: 1px solid $color-border-grey;
        border-right: 1px solid $color-border-grey;

        @media (max-width: 500px) {
          border: none;
          border-bottom: 1px solid $color-border-grey;
          margin-top: 2rem;
        }
      }

      .bnb-market {
        border-right: 1px solid $color-border-grey;
        @media (max-width: 500px) {
          border: none;
          border-bottom: 1px solid $color-border-grey;
          padding-bottom: 2rem !important;
          // margin-top: 1rem;
        }
      }

      .latest-block {
        border-right: 1px solid $color-border-grey;
        @media (max-width: 500px) {
          border: none;
          border-bottom: 1px solid $color-border-grey;
          margin-top: 1rem;
        }
      }

      @media (max-width: 500px) {
        grid-template-columns: auto;
      }
    }
    .chart-container {
      color: #000;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 1.3rem;
        font-weight: 400;
        margin-left: 2rem;
      }

      @media (max-width: 800px) {
        margin-top: 4rem;
      }

      @media (min-width: 1500px) {
        width: 500px;
      }
    }

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
}

.common {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 2rem;

  img {
    width: 24px;
  }

  .right {
    h2 {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 5px;
      color: $color-grey-font;
    }

    span {
      font-size: 1.5rem;

      &:last-child {
        font-size: 1.4rem;
      }
    }
  }
}
