/*
   Media querey manager

  RANGES
  0 - 600px Phoe
  600px - 900px Potrait tablet
  900px - 1200px Landscape tablet
  1200px - 1800px desktop (our normal styles)
  > 1800x larger desktop

  // @mixin respond-phone {
  //   @media (max-width: 600px) {
  //     @content;
  //   }
  // }

  breakpoint argument choices
  - phone
  - tab-port
  - tab-land
  - big-desktop

  here 1em is 16px

  ORDER: Base + typography > general layout (header fotoer nav) + grid > page layout > compoents
  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

span {
  font-size: 1.3rem;
}

ul {
  list-style: none;
}

a {
  color: #26263a;
  text-decoration: none;
  font-size: 1.5rem;
}
a:hover {
  color: #0784c3;
}

.active {
  color: #0784c3;
}

.col-grey {
  color: #727173;
}

.col-navy-blue {
  color: #0784c3;
}

.col-red {
  color: #df4748;
}

.col-dark-blue {
  color: #26263a;
}

.col-green {
  color: #3cac9e;
}

.none {
  display: none;
}

.pl-10 {
  padding-left: 1rem;
}

.pl-20 {
  padding-left: 2rem;
}

.pt-20 {
  padding-top: 2rem;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
  padding: 1.4rem 1.8rem;
  max-height: 5rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.status-bar__bar {
  display: flex;
  gap: 10px;
}
.status-bar__bar--right {
  display: flex;
  align-items: center;
}
.status-bar__bar--right img {
  width: 3rem;
  margin-right: 5px;
}
.status-bar__network-tab--tab {
  border: 1px solid #e9ecef;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
.status-bar__network-tab--tab:hover {
  background-color: #e9ecef;
}
.status-bar__network-tab--tab .network-dropdown {
  position: absolute;
  top: 41px;
  right: 2px;
  width: 16rem;
  height: 13rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: #fff;
  padding: 1rem;
}
.status-bar__network-tab--tab img {
  width: 20px;
}
@media (max-width: 1000px) {
  .status-bar {
    display: none;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.8rem;
  position: relative;
  margin-top: 5rem;
}
.header-nav__logo a {
  display: flex;
  align-items: center;
}
.header-nav__logo a p {
  font-weight: 500;
  font-size: 1.7rem;
}
.header-nav__logo img {
  width: 3rem;
  margin-right: 1rem;
}
.header-nav__navigation__list {
  display: flex;
  gap: 2rem;
}
.header-nav__navigation__list li {
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}
@media (max-width: 1000px) {
  .header-nav__navigation {
    display: none;
  }
}
.header-nav__mobile-menu {
  display: flex;
  align-items: center;
}
.header-nav__mobile-menu .hamburger {
  padding: 5px;
  border: 1px solid #e9ecef;
  border-radius: 7px;
  margin-left: 1rem;
}
.header-nav__mobile-menu .hamburger svg {
  font-size: 2rem;
}
@media (min-width: 1000px) {
  .header-nav__mobile-menu {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header-nav {
    padding: 1.8rem;
    margin-top: 0;
  }
}

.dropdown {
  position: absolute;
  top: 2rem;
  left: -7px;
  width: 20.4rem;
  background-color: #fff;
  z-index: 100;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.more-dropdown {
  z-index: 100;
  position: absolute;
  top: 2rem;
  right: -205%;
  width: 98vw;
  background-color: #fff;
  margin: 0 1rem;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.more-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.more-container__column {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #26263a;
}
.more-container__column h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.more-container__column p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.more-container__column .sponsor {
  margin-top: 10rem;
}
.more-container__column .sponsor p {
  margin-bottom: 5px;
}
.more-container__column .sponsor img {
  width: 10rem;
}
.more-container__column:first-child {
  background-color: #f8f9fa;
  border-radius: 8px;
}

.drawer {
  position: absolute;
  top: 5.4rem;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: #fff;
  padding-top: 2rem;
}

.header-home {
  display: flex;
  flex-direction: column;
}

.activeNetwork {
  background-color: #e9ecef;
}

.hero {
  height: 27.2rem;
  background-image: url(/src/assets/backgroun_pattern.svg);
  background-color: #131313;
  padding: 2rem;
  padding-top: 6rem;
  color: #fff;
  position: relative;
}
.hero__search-container {
  display: flex;
  flex-direction: column;
}
.hero__search-container h1 {
  margin-bottom: 1rem;
}
.hero__search-container .search-bar {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  width: 60%;
  display: flex;
  align-items: center;
}
.hero__search-container .search-bar input {
  margin-left: 1rem;
  height: 3.5rem;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 8px;
}
.hero__search-container .search-bar input:focus {
  outline: 1px solid #e9ecef;
}
.hero__search-container .search-bar .search-btn {
  background-color: #0784c3;
  padding: 8px;
  margin-left: 10px;
  border-radius: 8px;
  height: 3.5rem;
  cursor: pointer;
}
.hero__search-container .search-bar .search-btn:hover {
  background-color: #06699c;
}
.hero__search-container .search-bar .search-btn svg {
  font-size: 2rem;
}
@media (max-width: 700px) {
  .hero__search-container .search-bar {
    width: 100%;
  }
}
.hero__stats-container {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97vw;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
  display: flex;
}
@media (max-width: 800px) {
  .hero__stats-container {
    top: 145%;
  }
}
@media (max-width: 500px) {
  .hero__stats-container {
    top: 185%;
  }
}
.hero__stats-container .stats-grid {
  display: grid;
  grid-template-columns: auto auto;
  color: #000;
  flex-grow: 1;
}
.hero__stats-container .stats-grid .bnb-price {
  border-bottom: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
}
@media (max-width: 500px) {
  .hero__stats-container .stats-grid .bnb-price {
    border: none;
    border-bottom: 1px solid #e9ecef;
  }
}
.hero__stats-container .stats-grid .transactions {
  border-bottom: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
}
@media (max-width: 500px) {
  .hero__stats-container .stats-grid .transactions {
    border: none;
    border-bottom: 1px solid #e9ecef;
    margin-top: 2rem;
  }
}
.hero__stats-container .stats-grid .bnb-market {
  border-right: 1px solid #e9ecef;
}
@media (max-width: 500px) {
  .hero__stats-container .stats-grid .bnb-market {
    border: none;
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 2rem !important;
  }
}
.hero__stats-container .stats-grid .latest-block {
  border-right: 1px solid #e9ecef;
}
@media (max-width: 500px) {
  .hero__stats-container .stats-grid .latest-block {
    border: none;
    border-bottom: 1px solid #e9ecef;
    margin-top: 1rem;
  }
}
@media (max-width: 500px) {
  .hero__stats-container .stats-grid {
    grid-template-columns: auto;
  }
}
.hero__stats-container .chart-container {
  color: #000;
  display: flex;
  flex-direction: column;
}
.hero__stats-container .chart-container h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 2rem;
}
@media (max-width: 800px) {
  .hero__stats-container .chart-container {
    margin-top: 4rem;
  }
}
@media (min-width: 1500px) {
  .hero__stats-container .chart-container {
    width: 500px;
  }
}
@media (max-width: 800px) {
  .hero__stats-container {
    flex-direction: column;
  }
}

.common {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 2rem;
}
.common img {
  width: 24px;
}
.common .right h2 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 5px;
  color: #727173;
}
.common .right span {
  font-size: 1.5rem;
}
.common .right span:last-child {
  font-size: 1.4rem;
}

.table-grid {
  margin-top: 17rem;
  padding: 2rem 1.7rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
}
.table-grid__left {
  background-color: #fff;
  box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
  border-radius: 10px;
}
.table-grid__right {
  background-color: #fff;
  box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 500px) {
  .table-grid__right {
    margin-top: 2rem;
  }
}
@media (max-width: 800px) {
  .table-grid {
    margin-top: 32rem;
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 750px) {
  .table-grid {
    grid-template-columns: auto;
  }
}
@media (max-width: 600px) {
  .table-grid {
    padding: 2rem 1.3rem;
  }
}
@media (max-width: 500px) {
  .table-grid {
    margin-top: 53rem;
    padding: 2rem 1rem;
  }
}

.footer {
  background-color: #f8f9fa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.footer__top {
  padding: 2rem 0;
  padding-top: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
}
.footer__top__social, .footer__top__back-to-top {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.footer__top__social:hover, .footer__top__back-to-top:hover {
  color: #0784c3;
}
.footer__top__social svg, .footer__top__back-to-top svg {
  font-size: 1.7rem;
}
.footer__main {
  padding: 2rem 0;
  display: flex;
  gap: 2rem;
}
.footer__main__company-info {
  display: flex;
  flex-direction: column;
}
.footer__main__company-info .power-by {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}
.footer__main__company-info .power-by img {
  width: 26px;
  margin-right: 1rem;
}
.footer__main__company-info .desc {
  font-size: 1.3rem;
  color: #727173;
  margin-top: 1rem;
}
.footer__main__company-info .add-network {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #e9ecef;
  border-radius: 5px;
  font-size: 1.2rem;
  width: fit-content;
  margin-top: 1.5rem;
  cursor: pointer;
}
.footer__main__company-info .add-network img {
  width: 20px;
  margin-right: 1rem;
}
.footer__main__company-info .add-network:hover {
  background-color: #d1d8de;
}
.footer__main__useful-links {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-grow: 1;
}
.footer__main__useful-links .column {
  display: flex;
  flex-direction: column;
}
.footer__main__useful-links .column p {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.footer__main__useful-links .column span {
  cursor: pointer;
  font-size: 1.3rem;
  color: #727173;
  margin-bottom: 1rem;
}
.footer__main__useful-links .column span:hover {
  color: #0784c3;
}
@media (max-width: 600px) {
  .footer__main__useful-links {
    grid-template-columns: auto auto;
    row-gap: 2rem;
  }
}
@media (max-width: 750px) {
  .footer__main {
    flex-direction: column;
  }
}
.footer__copyright {
  padding: 2rem 0;
  padding-bottom: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e9ecef;
}
.footer__copyright P {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.footer__copyright P svg {
  color: #df4748;
  font-size: 1.5rem;
  margin-left: 5px;
}
@media (max-width: 500px) {
  .footer__copyright {
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
  }
}

/*# sourceMappingURL=index.css.map */
